- content_for :title do
  Story Map Edit - Tarkov MAP

- if @map.errors.any?
  %ul.alert.alert-danger
    - @map.errors.full_messages.each do |message|
      %li.ms-3.mt-1.mb-1
        = message

%h2.mb-3 Story Map Edit

.d-flex.flex-row-reverse
  = link_to "Return", admin_map_path, class: "btn btn-success mb-3"

= form_with model: @map, url: admin_map_path, method: :patch, local: true do |form|
  .mb-5
    = form.label :name, "名称", class: "mb-2"
    = form.text_field :name, class: "form-control"
  .mb-3
    - if @map.map_image.attached?
      %p.mb-1 現在の地形図
      = image_tag @map.map_image, class: "mw-100"
  .mb-3
    = form.label :map_image, "新しい地形図", class: "mb-2"
    = form.file_field :map_image, class: "form-control mb-3"
  = form.submit "更新する", class: "btn btn-primary mt-2"
