- content_for :title do
  Account Deactive - Tarkov MAP

- content_for :main do
  .container-fluid.p-0
    .d-flex.m-0
      .bg-menu.w-250px
        %ul.flex-column.list-group
          %li.list-group-item.p-0.border-0.bg-menu
            = link_to "基本情報", user_path(@user), class: "text-white-50 d-block ps-3 py-3 text-decoration-none"
          %li.list-group-item.p-0.border-0.bg-menu
            = link_to "メールアドレス更新", user_edit_email_path(@user), class: "text-white-50 d-block ps-3 py-3 text-decoration-none"
          %li.list-group-item.p-0.border-0.bg-menu
            = link_to "パスワード更新", user_edit_password_path(@user), class: "text-white-50 d-block ps-3 py-3 text-decoration-none"
          %li.list-group-item.p-0.border-0.bg-secondary.disabled
            = link_to "アカウント削除", user_deactive_path(@user), class: "text-white-50 d-block ps-3 py-3 text-decoration-none"

      .container.p-3
        - if flash.notice
          .alert.alert-success
            = flash.notice
        - if flash.alert
          .alert.alert-danger
            = flash.alert

        %h2.text-white.m-3 Account Deactive
        .mx-3.pt-4
          .bg-danger.text-white.rounded.p-3
            %span.d-block.mb-2 アカウントを削除すると、ロケーション情報を登録できなくなります。よろしいですか？
            %span.d-block また、新規登録の際に、削除済みアカウントのメールアドレスは使用できません。
          .text-center.mt-3
            %button.btn.btn-warning{ :type => "button", :"data-bs-toggle" => "modal", :"data-bs-target" => "#deleteConfirmModal" } Deactive
            #deleteConfirmModal.modal.fade{ :"tabindex" => "-1", :"aria-labelledby" => "modalLabel", :"aria-hidden" => "true" }
              .modal-dialog.modal-dialog-centered
                .modal-content.bg-dark
                  = form_with model: @user, method: "delete", local: true do |form|
                    .modal-header
                      %h5.modal-title#ModalLabel パスワードを入力してください
                      %button.btn-close{ :"type" => "button", :"data-bs-dismiss" => "modal", :"aria-label" => "Close" }
                    .modal-body.text-start
                      = form.label :password, User.human_attribute_name(:password), class: "mb-2"
                      = form.password_field :password, class: "form-control form-focus flex-grow-2"
                    .modal-footer.d-flex.justify-content-end
                      %button.btn.btn-secondary.me-4{ :"type" => "button", :"data-bs-dismiss" => "modal" } Not Deactive
                      = form.button "Deactive", class: "btn btn-danger"

  :javascript
    (function() {
      const headerElement = document.getElementById("header")
      const targetElement = document.querySelector(".w-250px")
      const observer = new ResizeObserver(() => {
        const clientHeight  = document.documentElement.clientHeight
        const headerHeight  = headerElement.clientHeight
        targetElement.style.height = clientHeight - headerHeight + "px"
      })
      observer.observe(headerElement)
    }())
