- content_for :title do
  User - Tarkov MAP

%h2.mb-3 ユーザー一覧

/ = link_to "新規登録", new_admin_user_path, class: "btn btn-primary mb-3"

%table.table.table-hover
  %thead.thead-default
    %tr
      %th.align-middle
        = User.human_attribute_name(:email)
      %th.align-middle
        = User.human_attribute_name(:admin_flag)
      %th.align-middle
        = User.human_attribute_name(:delete_flag)
      %th.align-middle
        = User.human_attribute_name(:created_at)
      %th.align-middle
        = User.human_attribute_name(:update_at)
      %th
  %tbody
    - @users.each do |user|
      %tr
        %td.align-middle
          = link_to user.email, user_path(user)
        %td.align-middle
          = user.admin_flag
        %td.align-middle
          = user.delete_flag
        %td.align-middle
          = user.created_at
        %td.align-middle
          = user.updated_at
        %td
          / = link_to "編集", edit_task_path(task), class: "btn btn-primary me-3"
          / = link_to "削除", task, method: :delete, class: "btn btn-danger", data: { confirm: "タスク「#{task.name}」を削除します。よろしいですか？" }
          / = button_to "編集", edit_admin_user_path(user), method: :get, class: "btn btn-primary me-3 float-start"
          / = button_to "削除", [:admin, user], method: :delete, class: "btn btn-danger", form: { data: { turbo_confirm: "ユーザー「#{user.name}」を削除します。よろしいですか？" } }
