- content_for :title do
  User create - Tarkov MAP

- if @user.errors.any?
  %ul.alert.alert-danger
    - @user.errors.full_messages.each do |message|
      %li.ms-3.mt-1.mb-1
        = message

%h2.mb-3 Create Account

.d-flex.flex-row-reverse
  = link_to "Return", root_path, class: "btn btn-success mb-3"

= form_with model: @user, method: :post, local: true, class: "mb-5" do |form|
  .mb-3
    = form.label :email, User.human_attribute_name(:email), class: "form-label"
    = form.text_field :email, class: "form-control form-focus"
  .mb-3
    = form.label :password, "新しいパスワード", class: "form-label"
    = form.password_field :password, class: "form-control form-focus"
    %span.form-text.mt-1 ※ 10文字以上30文字以下のパスワードを入力してください。
  .mb-3
    = form.label :password_confirmation, User.human_attribute_name(:password_confirmation), class: "form-label"
    = form.password_field :password_confirmation, class: "form-control form-focus"
    %span.form-text.mt-1 ※ 確認のため、もう一度ご入力ください
  = form.submit "Register", class: "btn btn-primary"
