- content_for :title do
  User create - Tarkov MAP

- if @user.errors.any?
  %ul.alert.alert-danger
    - @user.errors.full_messages.each do |message|
      %li.ms-3.mt-1.mb-1
        = message

%h2.mb-3 Create Account

.d-flex.flex-row-reverse
  = link_to "Return", root_path, class: "btn btn-success mb-3"

= form_with model: @user, method: :post, local: true, class: "mb-5" do |form|
  .mb-3
    = form.label :email, "メールアドレス", class: "mb-2"
    = form.text_field :email, class: "form-control form-focus"
  .mb-3.row
    .col-md-6.d-flex
      = form.label :password, User.human_attribute_name(:password), class: "input-group-text"
      = form.password_field :password, class: "form-control form-focus flex-grow-2"
    .col-md-6.d-flex
      = form.label :password_confirmation, User.human_attribute_name(:password_confirmation), class: "input-group-text"
      = form.password_field :password_confirmation, class: "form-control form-focus flex-grow-1"
    %span.form-text.mt-1.mb-3.d-block ※ 10文字以上30文字以下のパスワードを入力してください。
  = form.submit "Register", class: "btn btn-primary"
