- content_for :title do
  User List - Tarkov MAP

%h2.mb-3 User List
%table.table.table-hover
  %thead.thead-default
    %tr
      %th.align-middle.col-1.text-center.border-white.text-white
        = User.human_attribute_name(:id)
      %th.align-middle.border-white.text-white
        = User.human_attribute_name(:email)
      %th.align-middle.border-white.text-white
        = User.human_attribute_name(:admin_flag)
      %th.align-middle.border-white.text-white
        = User.human_attribute_name(:created_at)
      %th.align-middle.border-white.text-white
        = User.human_attribute_name(:update_at)
      %th.text-white
  %tbody
    - @users.each do |user|
      %tr
        %td.align-middle.col-1.text-center
          = link_to user.id, edit_admin_user_path(user),
            class: "d-block w-100 h-100 text-decoration-none text-secondary"
        %td.align-middle
          = link_to user.email, edit_admin_user_path(user),
            class: "d-block w-100 h-100 text-decoration-none text-secondary"
        %td.align-middle
          = link_to user.admin_flag ? "管理アカウント" : "通常アカウント", edit_admin_user_path(user),
            class: "d-block w-100 h-100 text-decoration-none text-secondary"
        %td.align-middle
          = link_to user.created_at, edit_admin_user_path(user),
            class: "d-block w-100 h-100 text-decoration-none text-secondary"
        %td.align-middle
          = link_to user.updated_at, edit_admin_user_path(user),
            class: "d-block w-100 h-100 text-decoration-none text-secondary"
        %td
