.d-flex.flex-row-reverse.mb-3
  - if obj.persisted?
    = link_to "Return", location_path(obj.map), class: "btn btn-success b-block-inline"
    %button.btn.btn-danger.d-block-inline.me-4{ :type => "button", :"data-bs-toggle" => "modal", :"data-bs-target" => "#deleteCheckModal" } Delete
    #deleteCheckModal.modal.fade{ :"tabindex" => "-1", :"aria-labelledby" => "modalLabel", :"aria-hidden" => "true" }
      .modal-dialog.modal-dialog-centered
        .modal-content.bg-dark
          .modal-header
            %h5.modal-title#exampleModalLabel 本当に削除してもよろしいですか?
            %button.btn-close{ :"type" => "button", :"data-bs-dismiss" => "modal", :"aria-label" => "Close" }
          .modal-body.d-flex.justify-content-end
            = form_with model: obj, local: true, method: :patch do |form|
              %button.btn.btn-secondary.me-4{ :"type" => "button", :"data-bs-dismiss" => "modal" } 削除しない
              = form.button "削除する", formmethod: :delete, class: "btn btn-danger"
  - else
    = link_to "Return", root_path, class: "btn btn-success mb-3"

= form_with model: obj, local: true, class: "mb-5" do |form|
  - unless obj.persisted?
    .mb-4
      = form.label :map_id, Location.human_attribute_name(:map_id), class: "mb-2 d-block"
      = form.select :map_id, Map.all.order(:id).map { |map| [map.name, map.id] }, {}, { class: "form-select" }
  .mb-2
    .input-group.d-block-inline
      = form.label :x_coordinate, Location.human_attribute_name(:x_coordinate), class: "input-group-text"
      = form.number_field :x_coordinate, step: 0.1, class: "form-control form-focus"
      = form.label :y_coordinate, Location.human_attribute_name(:y_coordinate), class: "input-group-text"
      = form.number_field :y_coordinate, step: 0.1, class: "form-control form-focus"
    %span.form-text.mt-1 ※ Escape From Tarkov上の座標を入力してください。
  .mb-3
    = form.label :loot_container_id, Location.human_attribute_name(:loot_container_id),class: "mb-2 d-block"
    = form.select :loot_container_id, LootContainer.all.order(:id).map { |loot_container| [loot_container.name, loot_container.id] }, {}, { class: "form-select" }
  - if obj.distant_view.attached?
    .mb-2
      %span.mb-1.me-4 現在の遠景画像
      .form-check.form-switch.d-inline-block
        = form.check_box :distant_view_isdelete, class: "form-check-input form-check-input-danger"
        = form.label :distant_view_isdelete, "チェックを入れると、画像が削除されます。",class: "form-check-label text-danger"
      = image_tag obj.distant_view, class: "mw-100"
  .mb-3
    = form.label :distant_view, obj.persisted? ? "遠景画像の追加・変更" : "遠景画像の登録", class: "mb-2"
    = form.file_field :distant_view, class: "form-control form-focus"
  - if obj.near_view.attached?
    .mb-2
      %span.mb-1.me-4 現在の近景画像
      .form-check.form-switch.d-inline-block
        = form.check_box :near_view_isdelete, class: "form-check-input form-check-input-danger"
        = form.label :near_view_isdelete, "チェックを入れると、画像が削除されます。",class: "form-check-label text-danger"
      = image_tag obj.near_view, class: "mw-100"
  .mb-3
    = form.label :near_view, obj.persisted? ? "近景画像の追加・変更" : "近景画像の登録", class: "mb-2"
    = form.file_field :near_view, class: "form-control form-focus"
  - if obj.animation_gif.attached?
    .mb-2
      %span.mb-1.me-4 現在のアニメーションGIF
      .form-check.form-switch.d-inline-block
        = form.check_box :animation_gif_isdelete, class: "form-check-input form-check-input-danger"
        = form.label :animation_gif_isdelete, "チェックを入れると、画像が削除されます。",class: "form-check-label text-danger"
      = image_tag obj.animation_gif, class: "mw-100"
  .mb-3
    = form.label :animation_gif, obj.persisted? ? "GIF画像の追加・変更" : "GIF画像の登録", class: "mb-2"
    = form.file_field :animation_gif, class: "form-control form-focus"
    %span.form-text.d-block.mt-1.mb-2 ※ ルートコンテナの種類が「Buried Barrel cache」又は「Ground cache」のみ添付してください。
  - if obj.persisted?
    = form.submit "Change", class: "btn btn-warning text-black"
  - else
    = form.submit "Register", class: "btn btn-primary"
